/* Debut navbar  */
/* Couleur de base  */
/* Vert: #1D3124 */
/* Couleur clair #E59560 */
/* Couleur plus clair: #F6F4E8 */

/* #E59159 */
/* #71211E */

.navbar{
    background-color: #f6F6F6;
}

.logo{
    height: 8vh;
}

.nav-link{
    color: #596235 !important;
    font-weight: bold;
}
.nav-link:hover{
    background-color: #D96845;
    border-radius: 2vh;
    color: white!important;
}

.btn-deconnexion{
    background-color: #596235;
    border-radius: 2vh;
    color: #DB6745 !important;
    font-weight: bold;
    border: none;
}

.active {
    color: #E59560 !important;
}

.btn-item {
    /* border: 1px solid #E59560; */
    color: #596235;
    font-size: 4vh;
}

.btn-item:hover {
    background-color: #D96845;
    color: white;
}

.btn-profil{
    background-color: #DB6745;
    border-radius: 2vh;
    color: #DB6745 !important;
    border: none;
}
/* Fin navbar  */

/* Container  */
.container-list .card{
    min-height: 50vh;
    border: none;
}

.btn-action{
    /* border-radius: 2vh; */
    background-color: whitesmoke;
    /* color: white; */
    font-weight: bold;
    border: none;
    padding:1.5vh 2vh;
}

.btn-action-active{
    box-shadow: 2px 2px #D96845;
    color: #596235;
}
.btn-action-active:hover{
    /* box-shadow: 2px 2px #D96845; */
    color: white;
    background-color: #D96845;
}

.btn-action-notactive{
    box-shadow: 2px 2px #596235;
    color: #D96845;
}

.btn-action-notactive:hover{
    color: white;
    background-color: #596235;
}


.btn-ajout-article{
    font-weight: bold;
    color: white;
    background-color: #596235;
}
.btn-ajout-article:hover{
    background-color: #D96845;
    scale: 1.2;
}

.searchclasse{
    background-color: #D96845;
    color: white;
}

.profil{
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
}

.profil-image img{
    width: 25vh;
    height: 25vh;
    
}

/* Pour les commentaires  */
.liste-commentaire .profil{
    width: 20vh;
    height: 20vh;
}

/* .contact-list{
    border-radius: 5vh;
} */

/* Les cercles sur la carte  */
.circle-start{
    width: 20%;
    height: 20vh;
    border-radius: 5vh 0 100% 0 ;
}

.circle-active{
    background-color: #D96845;
}

.circle-end{
    display: flex;
    justify-content: space-between;
}

.end {
    width: 15%;
    height: 15vh;
    height: 15vh;
    border-radius: 100% 0 5vh 0;
    position: relative;
    margin-bottom: -0.2vh;
}

.circle-deseable{
    background-color: #596235;
}

.liste-commentaire .card{
    border-radius: 5vh;
    border: 1px solid #596235;
}

.commentaire-item{
    margin: -20vh 0 -15vh 0;
    padding: 0 15% 0 22%;
}

.btn-valider{
    background-color: #596235;
    color: white;
}
.btn-annuler{
    background-color: #D96845;
    color: white;
}

.details-article .bi{
    color: #596235;
}

/* pagination  */
.pageActuelle{
    color: #D96845;
    font-weight: bold;
    border-bottom: 1px solid #596235;
}

.btnColor{
    background-color: #596235;
    color: #D96845;
}