<div class="container">
    <button  class="btn btn-primary my-5">Ajouter un article</button>
    <h1 class="text-center mt-4">Liste des articles de {{userConnect.name}}</h1>
    <div class="container-list py-4">
      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4" *ngFor="let article of tabArticlesUser">
          <div class="card shadow py-3">
            <div class="card-body">
              <h5 class="card-title text-center">Titre: {{article.title}}</h5>
              <p class="card-text">Description: {{article.body}}</p>
              <div class="d-flex">
                  <button  class="btn btn-primary me-3">Modifier</button>
                  <button  class="btn btn-secondary me-3" (click)=" archiver(article)" >Archiver</button>
                  <button  class="btn btn-danger me-3">Supprimer</button>
                  <button  class="btn btn-success me-3">Detail</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
    </div>
</div>